.rkb-red-price{
    color: red;
}
.o_kanban_view .o_kanban_record .o_kanban_record_title {
    font-weight: bold;
}
.version_class {
    padding-left: 10px;
    font-size: 45%;
    color: cadetblue;
}

button.btn.btn-sm.btn-link.new_version_butt {
    margin-left: -10px;
    margin-top: -20px;
    color: cadetblue !important;
}

button.btn.btn-sm.btn-default.custom_heder_butts {
    font-size: 160% !important;
}

input.o_field_char.o_field_widget.o_input.o_required_modifier.custom_important_field {
    background-color: #7c7bad2e !important;
    border-radius: 10px !important;
}

td.o_data_cell.o_required_modifier.custom_important_field {
    background-color: #7c7bad2e !important;
    border-radius: 5px !important;
}

td.o_data_cell.o_list_number.custom_important_field {
    background-color: #7c7bad2e !important;
    border-radius: 5px !important;
    text-align: center;
    color: #198a88;
    font-weight: bold;
}

td.o_data_cell.o_list_number.custom_important_field_2 {
    background-color: #828282 !important;
    border-radius: 5px !important;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

input.o_field_float.o_field_number.o_field_widget.o_input.custom_important_field {
    background-color: rgb(133, 140, 204) !important;
    border-radius: 5px !important;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

input.o_field_float.o_field_number.o_field_widget.o_input.custom_important_field_2 {
    background-color: rgb(99, 99, 99) !important;
    border-radius: 5px !important;
    text-align: center;
    color: rgba(255, 255, 255, 0.97);
    font-weight: bold;
}

td.o_data_cell.o_list_number.o_readonly_modifier.custom_not_important_field {
    background-color: rgba(46, 46, 46, 0.17) !important;
    text-align: center !important;
    font-weight: bold !important;
    color: crimson !important;
}

.o_form_view .o_field_widget .o_list_view > tfoot > tr > td {
    padding: 3px;
    color: #ffffff !important;
}

button.btn.btn-sm.btn-link.oe_inline.custom_red {
    color: brown;
}

.o_row.style_class_custom2 {
    display: flex !IMPORTANT;
    justify-content: space-around !IMPORTANT;
}

.o_row.style_class_custom {
    display: flex !IMPORTANT;
    justify-content: space-between !IMPORTANT;
}

.oe_inline.custom_margin {
    font-size: 16px;
    color: #b8191d;
}
.calc_main {
    background-color: #7c7bad2e;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer .oe_subtotal_footer_separator {
    border-top: 1px solid #7c7bad !important;
}

.o_form_view .o_group.o_inner_group.oe_subtotal_footer {
    border-top: 1px solid #7c7bad !important;
}

.other_company {
    border: 2px solid;
    border-color: #dc9797;
}

.o_group.custom_group_class {
    display: flex;
    justify-content: space-between;
}

.XYZ > tbody > tr > td {
    padding: 0 25px 0 0 !important;
    padding-left: 0 5px 0 0;
    text-align: center !important;
}

.add_butts_custom_class {
    font-size: 13px;
    background-color: transparent;
}

.add_butts_custom_class2 {
    font-size: 16px;
    background-color: transparent;
    /*position: relative;*/
    /*right: 0;*/
    /*bottom: 40px;*/
    color: brown;
}

.o_form_view.o_group.o_inner_group.XYZ_2 > tbody > tr > td {
    padding: 0 25px 0 0 !important;
    padding-left: 0 5px 0 0;
    text-align: center;
}

.add_butts_custom_class span {
    color: #040404 !important;
}

.add_butts_custom_class2 span {
    color: brown !important;
}

input.o_field_float.o_field_number.o_field_widget.o_input.add_fields_custom_class {
    width: 100% !important;
    margin-top: 4px;
    margin-left: -35px;
}

.o_field_monetary.o_field_number.o_input.o_field_widget.add_fields_custom_class {
    margin-left: -40px;
    margin-top: 4px;
}
.info_custom {
    display: flex;
    justify-content: space-around;
}
/*span.o_field_float.o_field_number.o_field_widget.o_input.add_fields_custom_class td{*/
    /*margin-top: 4px !important;*/
    /*margin-left: -35px !important;*/
/*}*/
